/app/config/parameters.yml
/web/bundles/
/web/media/
/web/psls/
/web/images
/web/assets/
/web/fonts
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/data/*
/.idea/
/var/cache/*
/app/cache/*
/test/*
/var/logs/*
node_modules/*
npm-debug.log
